@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

* {
    padding: 0px;
    margin: 0px;
	
}

#bara {
	
	
	display: inline-block;
	overflow:hidden;
	display:flex;
	flex-wrap:wrap;
	padding: 2px;
	background-color: rgba(255, 146, 52, 0.5);
	
	/*rgb(255, 135, 84)*/
	
}
#iconita_b, #iconita_o{
	width: 50px;
	float: left;
}
#bara a{
	float: left;
	padding: 10px;
	color: black;
	text-decoration: none;
	font-family: 'Architects Daughter', cursive;
  text-transform: uppercase;
	
}
#bara a. easter{
	float: right;
	background: transparent;
	padding: 10px;
}
#bara a:hover {
	background:rgba(224, 73, 20, 0.8) 5px;
	color: #f9e0ae;
	text-decoration: underline;
}
.buton_bara
{
	float: left;
	background-color: rgba(224, 73, 20, 0);
	border:none;
	
} 

#buton{
	clear:both;
	text-align: center;
	position: fixed;
	font-family: cursive;
	padding: 10px;
	width: 100%;
    height: 20px;
	bottom: 0;
	left:0;
	color: #0d0d0d;
	
}

#f1_container {
  width: 60%;
  height: 80%;
 /* max-width: 1920px;*/
 /*max-height: 1080px;*/
  position: relative;
  perspective: 900px;
  margin: 0 auto;

}
#flippy2{
	
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 30px auto;
  position: absolute;
  transition: all 1s linear;
  transform-style: preserve-3d;

}
.flip{
	
	-webkit-transform: rotateY(180deg);
	-moz-transform:rotateY(180deg);
	transform: rotateY(180deg);
	/*box-shadow: -5px 5px 5px #000;*/
	
}
#flippy2 .face, #flippy2 .back {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-transform:rotateX(0deg);
  backface-visibility: hidden;
  z-index: 2;
}

.Learn{
	
	display: inline-block;
	position: center;
	margin-left: auto;
	margin-right: auto;
	display:flex;
	justify-content: center;

	
  /*font-size: 80px;*/
  
  line-height: 0.9;
  padding: 20px;
 
  font-family: 'Architects Daughter', cursive;
  text-transform: uppercase;
  background: radial-gradient(
    circle farthest-corner at center center,
    #ffb83c,#ff8e3c,#c75808
    
  ) no-repeat;
  text-shadow: 2px 2px 1px #0d0d0d; 
 /* border: 1px solid  #0d0d0d;*/
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
	
	
}
@media (min-width:200px)
{ .Learn{
	
	font-size:25px;
	line-height: 0.20;
	 padding: 10px;
	 margin-left: auto;
	margin-right: auto;
	}
	

 

}
@media (min-width:600px)
{ .Learn{
	
	font-size:30px;
	line-height: 0.30;
	 padding: 10px;
	 margin-left: auto;
	margin-right: auto;
	}
	
/*	#video {
	
	margin-left: 150px;
	margin-right: 150px;
	
	}
  */
 

}
@media (min-width:700px)
{ .Learn{
	
	font-size:40px;
	line-height: 0.45;
	 padding: 10px;
	 margin-left: auto;
	margin-right: auto;
	}
	
/*	#video {
	
	margin-left: 200px;
	margin-right: 200px;
	
	}
*/  
  


}
@media (min-width:800px)
{
	.Learn{
	
	font-size:56px;
	line-height: 0.6;
	padding:14px;
	margin-left: auto;
	margin-right: auto;
	}
	
	/*#video {
	
	margin-left: 150px;
	margin-right: 150px;
	}*/
	
	

	
}
#image{
	
	width: 450px;
}
iframe{
	padding-top: 90px;
	padding-bottom: 40px;
	margin-top: -10px;
}
#video {
	
	display:flex;
	justify-content: center;
	
}

#flippy2 .back{
	
	text-align: center;	
    -webkit-transform:rotateY(180deg);
	-moz-transform: rotateY(180deg);
	transform: rotateY(180deg);
	
	
}
#ButonFiltru
{
	display: flex;
	text-align: center;
	align-items:center;
	justify-content:center;
	flex-wrap:wrap;
	background-color: rgba(255,255,255,0);
	

}

.box
{    --borderWidth:6px;
	/*margin: max(1px,3vw);*/
	/*border: 0.3em solid #eff0f3;*/
	background: #FFF;
	width: 30%;
	padding: 7px;
	font: 20px;
	font-family: cursive;
	text-transform: uppercase;
	margin-bottom: 10px;
	position: relative;
	border: 1px #FFe;
	border-radius: var(--borderWidth);
	/*border: 0.3em solid ; */
	/*padding: 5px;*/
} 
.box:hover:after {
	content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055,#FF7272,#FFB385,#FF7272,#FFD31D,#f79533 );
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: borderRotate 1000ms ease alternate infinite;
  background-size: 300% 300%;
}
q::selection{
 background:transparent;
 
}
	
@keyframes borderRotate {
	
	0% { background-position: 100% 50%; } 

	 50%{
		  background-position: 100% 50%;
	 }
	100% {
		/*--angle: 420deg;*/
		 background-position: 0% 50%;
	}
	
}

#sageata{
	
	width: 2em;
	margin: 20px;
	display: inline-block;
	justify-content:center;
}
#trick{ 
 display: none;
}

#imaginepisica {
	
	display:flex;
	margin: 0 auto;
	height: 600px;
	justify-content: center;
	
}
.pisi 
{
	display: block;
	align-items:center;
	margin: 0 auto;
}
.pisi a{
	display: block;
	align-items:center;
	text-align:center;
	text-align:center;
	margin: 0 auto;
	
}

